<div style="text-align: -webkit-center;">
  <fieldset class="container">
    <legend>
      <div class="card" [@cardFlip]="state">
        <div class="face front">
          <div>
            <div class="frontUpper">
              <img src="../assets/chip.png" class="chip">
              <div class="spacer"></div>
              <img name="cardTypeLogo" src="../assets/{{cardType||'visa' | lowercase}}.png" class="cardimg">
            </div>
            <div class="frontMid">
              <h2 [ngClass]="{ 'selected':isNumber}" style="padding: 5px;color: white;">{{cardNumber || "#### #### #### ####"}}</h2>
            </div>
            <div class="frontLower">
              <div class="cardHolder" [ngClass]="{ 'selected':isCardHolder}">
                <label class="cardLabel"> Card Holder </label>
                <h3>{{name || "Full Name"}}</h3>
              </div>
              <div class="expire" [ngClass]="{ 'selected':isExpire}">
                <mat-label class="cardLabel"> Expires </mat-label>
                <h3>{{selectedMonth || "MM"}} / {{selectedYear || "YY"}}</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="face back">
          <div class="backUpper"> </div>
          <div class="backMid">
            <label style="padding: 10px; color: white;">CVV</label>
            <h2 class="cvv"> {{cvv}} </h2>
          </div>
          <div class="backLower">
            <div>
              <img src="./assets/{{cardType||'visa' | lowercase}}.png" class="backLowerImage cardimg">
            </div>
          </div>
        </div>
      </div>
    </legend>

    <form>
      <mat-form-field style="width: 95%;">
        <label>Card Number</label>
        <input matInput class="input" name="CardNumber" [(ngModel)]="cardInput" required (focus)="isNumber=true"
          pattern=".{16}" (focusout)="isNumber=false" (keydown)="validateInput($event,cardInput.length,15)"
          (keyup)="genCardNum()">
      </mat-form-field>
      <br>
      <mat-form-field style="width: 95%;">
        <label>Card Holders </label>
        <input matInput name="cardHolder" class="input" required (keydown)="validateStringInput($event)"
          (focus)="isCardHolder=true" [(ngModel)]="name" (focusout)="isCardHolder=false">
      </mat-form-field>
    </form>
    <div style="display: flex;margin: 0px 10px;">
      <div style="width: -webkit-fill-available; text-align: left; margin-top: 20px;">
        <label>Expiration Date </label><br>
        <mat-form-field class="dropdownStyle">
          <mat-label>Month</mat-label>
          <mat-select [(value)]="selectedMonth" (focus)="isExpire=true" (focusout)="isExpire=false">
            <mat-option *ngFor="let month of months" [value]="month.number">
              {{month.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="dropdownStyle">
          <mat-label>Year</mat-label>
          <mat-select [(value)]="selectedYear" (focus)="isExpire=true" (focusout)="isExpire=false">
            <mat-option *ngFor="let year of years" [value]="year.number">
              {{year.number}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-form-field style="width: 25%;">
        <label style="color: black;">CVV </label><br>
        <input matInput class="cvvInput" (keydown)="validateInput($event,cvv.length,3)" required
          (focus)="state='flipped'" (focusout)='state = "default"' [(ngModel)]="cvv" pattern=".{4}">
      </mat-form-field>
    </div>

    <button mat-button (click)="submit()">SUBMIT</button>

  </fieldset>
</div>